<!DOCTYPE html>
<html>
  <head>
    <title>Bysykkel</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmWLH8X_7VfKbciY3S8GAPkubiX9pkEgM&v=3.31"></script>

  </head>
  <body>
    <div id="map"></div>
    <h1>Bysykler</h1>
    <div class="container">
      <% data.forEach(d => { %>
        <div class="card">
           <h4><%= d.name %></h4> 
           <p><%= d.where %></p> 
          <ul>
            <li>Ledige låser: <%= d.locks %></li>
            <li>Ledige sykler: <%= d.bikes %></li>
          </ul>
        </div>
      <% }); %>
    </div>
<script>
  function initMap() {
    const oslo = {lat: 59.92, lng: 10.75};
    const map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: oslo
    });
    const marker = new google.maps.Marker({
      position: oslo,
      map: map
    });
    console.log(data)
  }

  function addMarker(station) {
    let marker = new google.maps.Marker({
      position: {
        lat: station.center.latitude,
        lng: station.center.longitude
      },
      label: station.name,
      map: map
    })
  }

  google.maps.event.addDomListener(window, 'load', initMap);
</script>
  </body>

</html>

